*{
  color: white;
}
body {
  overflow: auto;
  background-color: #303030;
}
.custom-control{
  display: flex;
  
}
.settings-module{
  margin: 10px;
}
.target-string{
  height: fit-content;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  
}
.expected-phrase,
input.form-control-lg {
  max-width: 60rem;
  margin: auto;
  height: auto;
}

.expected-phrase {
    min-height: 68px;
}
input.form-control-lg,
.word {
    font-size: 32px;
    height: 60px;
    text-align: center;
}
input.form-control[type=number] {
  max-width: 60%;
}
.user-input{
  padding: 10px 250px;
  display: flex;
  justify-content: center;
  
}